node_modules/
dist/
docs/
coverage/


test-data/
test-output/
test-reports/
test-sandbox/

*.log
*.tsbuildinfo

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

*.tgz

.idea/
.vscode/
*.swp
*.swo

/artifacts/
/traces/
/visual-testing/
/html-report/
